@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

/* Reset */ 
* {
    margin: 0;
    padding: 0;     
    box-sizing: border-box; 
}

/* Typography */  
body {
    font-family: Raleway, sans-serif;
}  

#content {
    padding: 10px;
    margin: 10px;
    background: #fff;
    height: auto;
    width: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    background: #e6ebee;
    color:#185232;
}

.nav h2 {
    padding: 1.5rem 1.5rem;
}
  
.nav ul {
    display: flex;
    list-style: none;
    padding: 1rem;
}
  
.nav li {
    padding: 1rem;
    font-size: 1.4rem;
}
  
.nav a {
    text-decoration: none;
    color: #185232;
}

.nav a:hover {
    color: #3c9b3c;
}

#content {
  padding: 30px;
}
  
#container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 30vh;
}

.card {
  border-radius: 12px;
  box-shadow: 5px 5px 5px #ccc;
}

.card a {
  flex-grow: 1 1 0px;
  background-color: white;
  text-decoration: none;
  display: flex;
  border: 1px solid #185232;
  padding: 50px;
  border-radius: 12px;
}
  
.name {
    font-size: 24px;
    font-weight: 600;
    color: #185232;
    margin: 20px;
}
  
.card-details {
    padding: 16px 8px 8px 8px;
}

/* Medical Page */

/* #med-content {
  padding: 30px;
} */
  
#med-container {
  display: flex;
  justify-content: center;
}

.med-card {
  background:#fff;
  border-radius: 15px;
  border: 1px solid #185232;
  box-shadow: 5px 5px 5px #ccc;
  height: 400px;
  width: 280px;
  margin: 10px;
}

.med-img {
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.med-1 {
  background-image: url('image/logo01.png');
}

.med-2 {
  background-image: url('image/logo01.png');
}

.med-3 {
  background-image: url('image/logo01.png');
}

.med-4 {
  background-image: url('image/logo01.png');
}

.med-5 {
  background-image: url('image/logo01.png');
}

.med-6 {
  background-image: url('image/logo01.png');
}


  /* 
  Extra small devices (phones, 600px and down) 
*/
@media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
    nav ul {
      flex-direction: column;
      padding-top: 0.5rem;
    }
    nav li {
      padding: 0.5rem 0;
    }
  } 